@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');

html{
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.4;
    padding: 5em;
}

.icons {
    list-style-type: none;
}

